body {
    background-color: #cec;
}

nav.navbar-title {
    background-color: #666;
    height: 80px;
    border: 1px solid #000;
    text-align: left;
}

span.title-h1 {
    font-size: 15px;
    /* color: #fff; */
}